/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-color: #000028;
  --bg-image: url(../images/cover-image.png);
  --bg-text-color: #FF0070;
  --text-color-title: #DB00FF;
  --text-color: #F1B2CE;
  --text-color-light: #FF0070;
  --text-color-dark: #000028;
  --shudow-text-color: #FF0070;
  --decoration-color: #FF0070;
  --decoration-color-transparent: #ff007066;  
  --font-family: 'IBM Plex mono';
  --font-size-basic: 18px;
  --font-size-title: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-line-height-basic: 23.4px;
  --font-line-height-title: 95.7px;
}
